<%= form_for(@description) do |f| %>
  <% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.select :word_type_id, WordType.word_types_for_select, prompt: 'Seleccione el tipo de palabra' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
