= form_for(@word) do |f|
  - if @word.errors.any?
    #error_explanation
      %h2
        = pluralize(@word.errors.count, "error")
        prohibited this word from being saved:
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, placeholder: 'Nombre de la palabra'
  - if params[:action] == "new"
    = fields_for( @description ) do |description|
      .field
        = description.text_area :description, placeholder: 'Ingrese la definición de la nueva palabra', class: 'span8'
        = description.select :word_type_id, WordType.word_types_for_select, prompt: 'Seleccione el tipo de palabra'
  .actions
    = f.submit 'Agregar palabra', class: "btn btn-primary"
